<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.activitywechatapplet.dao.ActivityTagRelationMapper">
  <resultMap id="BaseResultMap" type="com.jiaoke.activitywechatapplet.entity.ActivityTagRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activity_tag_id" jdbcType="INTEGER" property="activityTagId" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, activity_tag_id, activity_id
  </sql>
  <select id="selectByExample" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTagRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_tag_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_tag_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_tag_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTagRelationExample">
    delete from activity_tag_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTagRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_tag_relation (activity_tag_id, activity_id)
    values (#{activityTagId,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTagRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_tag_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityTagId != null">
        activity_tag_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityTagId != null">
        #{activityTagId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTagRelationExample" resultType="java.lang.Long">
    select count(*) from activity_tag_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update activity_tag_relation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.activityTagId != null">
        activity_tag_id = #{record.activityTagId,jdbcType=INTEGER},
      </if>
      <if test="record.activityId != null">
        activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update activity_tag_relation
    set id = #{record.id,jdbcType=INTEGER},
      activity_tag_id = #{record.activityTagId,jdbcType=INTEGER},
      activity_id = #{record.activityId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTagRelation">
    update activity_tag_relation
    <set>
      <if test="activityTagId != null">
        activity_tag_id = #{activityTagId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTagRelation">
    update activity_tag_relation
    set activity_tag_id = #{activityTagId,jdbcType=INTEGER},
      activity_id = #{activityId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectTagByActivityId" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT activity_tag_name FROM activity_tag WHERE activity_tag_id IN (
      SELECT activity_tag_id FROM activity_tag_relation WHERE activity_id = #{id,jdbcType=INTEGER})
  </select>
  <delete id="deleteByActivityId" parameterType="java.lang.Integer">
    delete from activity_tag_relation
    where activity_id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>