<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.activitywechatapplet.dao.ActivityTypeMapper">
  <resultMap id="BaseResultMap" type="com.jiaoke.activitywechatapplet.entity.ActivityType">
    <id column="activity_type_id" jdbcType="INTEGER" property="activityTypeId" />
    <result column="activity_type_name" jdbcType="VARCHAR" property="activityTypeName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    activity_type_id, activity_type_name
  </sql>
  <select id="selectByExample" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_type
    where activity_type_id = #{activityTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_type
    where activity_type_id = #{activityTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTypeExample">
    delete from activity_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityType">
    <selectKey keyProperty="activityTypeId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_type (activity_type_name)
    values (#{activityTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityType">
    <selectKey keyProperty="activityTypeId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityTypeName != null">
        activity_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityTypeName != null">
        #{activityTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityTypeExample" resultType="java.lang.Long">
    select count(*) from activity_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update activity_type
    <set>
      <if test="record.activityTypeId != null">
        activity_type_id = #{record.activityTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.activityTypeName != null">
        activity_type_name = #{record.activityTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update activity_type
    set activity_type_id = #{record.activityTypeId,jdbcType=INTEGER},
      activity_type_name = #{record.activityTypeName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityType">
    update activity_type
    <set>
      <if test="activityTypeName != null">
        activity_type_name = #{activityTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where activity_type_id = #{activityTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiaoke.activitywechatapplet.entity.ActivityType">
    update activity_type
    set activity_type_name = #{activityTypeName,jdbcType=VARCHAR}
    where activity_type_id = #{activityTypeId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from activity_type
  </select>
</mapper>